extends javascript.console, javascript.es6, javascript.base, javascript.jsx

snippet protoclass "prototype of function"
let $1 = (function () {
	/**
		* Create an instance of $1 class",
		*
		* @constructor",
		* @param {Object} obj All parameter",
		*/
	function $1(obj) {
		Object.assign(this, obj);
	}

	/**
		* mple method
		*
		* @param {Object} obj All parameter",
		*/
	$1.prototype.$2 = function ($3) {

	};

	return $1;
})();
endsnippet
