!Xft.dpi: 102
!!Xft.dpi: 96
!Xft.antialias: true
!Xft.hinting: true
!Xft.rgba: rgb
!Xft.autohint: false
!Xft.hintstyle: hintfull
!Xft.lcdfilter: lcddefault
!st.font: Roboto Mono for Powerline:pixelsize=12:antialias=true:autohint=false

!xcursor.theme:            Vanilla-DMZ
!xscreensaver.fade:   false
!xscreensaver.unfade: false





!*background:	#1D1F28
!*foreground:	#FDFDFD
!*cursorColor:	#C574DD
!*color0:	#282A36
!*color1:	#F37F97
!*color2:	#5ADECD
!*color3:	#F2A272
!*color4:	#8897F4
!*color5:	#C574DD
!*color6:	#79E6F3
!*color7:	#FDFDFD
!*color8:	#414458
!*color9:	#FF4971
!*color10:	#18E3C8
!*color11:	#FF8037
!*color12:	#556FFF
!*color13:	#B043D1
!*color14:	#3FDCEE
!*color15: #BEBEC1
!
! Custom
! Original theme https://github.com/nathanbuchar/atom-one-dark-terminal
!*.foreground:    #ABB2BF
!*.background:    #1E2127
!*.cursorColor:   #5C6370
!*.highlightColor:#3A3F4B

!! Negro y gris
!*.color0:        #1E2127
!*.color8:        #5C6370
!! Rojos
!*.color1:        #E06C75
!*.color9:        #E06C75
!! Verde
!*.color2:        #98C379
!*.color10:       #98C379
!! Amarillo
!*.color3:        #D19A66
!*.color11:       #D19A66
!! Azul
!*.color4:        #61AFCF
!*.color12:       #61AFCF
!! Magenta
!*.color5:        #C678DD
!*.color13:       #C678DD
!! Cyan
!*.color6:        #56B6A2
!*.color14:       #56B6A2
!! Blanco
!*.color7:        #ABB2BF
!*.color15: #FFFFFF

!  NOTHING IMPORTANT
!*color0:  #2E3436
!*color1:  #a40000
!*color2:  #4E9A06
!*color3:  #C4A000
!*color4:  #3465A4
!*color5:  #75507B
!*color6:  #ce5c00
!*color7:  #babdb9
!*color8:  #555753
!*color9:  #EF2929
!*color10: #8AE234
!*color11: #FCE94F
!*color12: #729FCF
!*color13: #AD7FA8
!*color14: #fcaf3e
!*color15: #EEEEEC
!
! FINAL?
! special
!*.foreground: #93a1a1
!*.background: #141c21
!*.cursorColor: #afbfbf

!! black
!*.color0: #263640
!*.color8: #4a697d

!! red
!*.color1: #d12f2c
!*.color9: #fa3935

!! green
!*.color2: #819400
!*.color10: #a4bd00

!! yellow
!*.color3: #b08500
!*.color11: #d9a400

!! blue
!*.color4: #2587cc
!*.color12: #2ca2f5

!! magenta
!*.color5: #696ebf
!*.color13: #8086e8

!! cyan
!*.color6: #289c93
!*.color14: #33c5ba

!! white
!*.color7: #bfbaac
!*.color15: #fdf6e3

!!! Common Keybinds for Navigations
!URxvt.keysym.Shift-Up: command:\033]720;1\007
!URxvt.keysym.Shift-Down: command:\033]721;1\007
!URxvt.keysym.Control-Up: \033[1;5A
!URxvt.keysym.Control-Down: \033[1;5B
!URxvt.keysym.Control-Right: \033[1;5C
!URxvt.keysym.Control-Left: \033[1;5D

!!! Copy Paste & Other Extensions
!!URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select
!!URxvt.copyCommand: xclip -i -selection clipboard
!!URxvt.pasteCommand: xclip -o -selection clipboard
!!URxvt.keysym.M-c: perl:clipboard:copy
!!URxvt.keysym.M-v: perl:clipboard:paste
!!URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
!!URxvt.keysym.M-Escape: perl:keyboard-select:activate
!!URxvt.keysym.M-s: perl:keyboard-select:search
!!URxvt.keysym.M-u: perl:url-select:select_next
!URxvt.urlLauncher: firefox-developer-edition
!URxvt.underlineURLs: true
!URxvt.urlButton: 1

!
! Generated with :
! XRDB2Xreources.py
!
!*.foreground:  #ffffff
!*.background:  #1e1d40
!*.cursorColor: #fad000
!!
!! Black
!*.color0:      #000000
!*.color8:      #686868
!!
!! Red
!*.color1:      #d90429
!*.color9:      #f92a1c
!!
!! Green
!*.color2:      #3ad900
!*.color10:     #43d426
!!
!! Yellow
!*.color3:      #ffe700
!*.color11:     #f1d000
!!
!! Blue
!*.color4:      #6943ff
!*.color12:     #6871ff
!!
!! Magenta
!*.color5:      #ff2c70
!*.color13:     #ff77ff
!!
!! Cyan
!*.color6:      #00c5c7
!*.color14:     #79e8fb
!!
!! White
!*.color7:      #c7c7c7
!*.color15:     #ffffff
!!
!! Bold, Italic, Underline
!*.colorBD:     #f9fdff
!*.colorIT:
!*.colorUL:

! Dark Violet Good theme

*background: #1b1b1b
*foreground: #cccaca
 
!Black
*.color0: #222222
*.color8: #5b595a
!Red
*.color1: #664742
*.color9: #664742
!Green
*.color2: #A5AF86
*.color10: #A5AF86
!Yellow
*.color3: #F7E7BD
*.color11: #F7E7BD
!Blue
*.color4: #6e686f
*.color12: #6e686f
!Magenta
*.color5: #966E6E
*.color13: #B09A91
!Cyan
*.color6: #849492
*.color14: #849492
!White
*.color7: #a49c9c
*.color15: #e9e6e6

! fall green
!*.background: #212121
!*.foreground: #D2C5BC
!!#D2C5BC
!!black
!*.color0:#777777
!*.color8:#777777
!!red
!*.color1:#a19488
!*.color9:#a19488
!!green
!*.color2:#88a194
!*.color10:#88a194
!!yellow
!*.color3:#95a188
!*.color11:#95a188
!!blue
!*.color4:#9488a1
!*.color12:#9488a1
!!magenta
!*.color5:#a18895
!*.color13:#a18895
!!cyan
!*.color6:#8895a1
!*.color14:#8895a1
!!white
!*.color7:#d9d9d9
!*.color15:#d9d9d9
